@each $color, $value in $colors {
	@include bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $theme-colors {
	@include bg-gradient-variant(".bg-gradient-#{$color}", $value);
}

@each $color, $value in $colors { 
	@include bg-gradient-variant(".bg-gradient-#{$color}", $value);
}


$assetPath :"../assets/img/logo-1";
.navbar-brand {
    position: fixed;
    padding-top: .3125rem;
    background: url(#{$assetPath}/gfg.png);
    padding-bottom: .3125rem;
    margin-left: 17px;
    margin-top: 3px;
  }

  .navbar-toggle button:focus, .navbar-toggler{
    outline: none;
  }

